body {
	margin: 0 auto;
	font-family: helvetica, arial, sans-serif;
	background: url('/php/img/bg-1.png') no-repeat;
	background-position: 0 30px;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.main {
	min-height: 100%;
	float: right;
	width: 81%;
	box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.5);
}

.clear-fix {
	clear: both;
}


.account, .account-update{
	background: rgba(290, 290, 290, 0.7);
	color: #333;
	width: 30%;
	padding: 25px;
	float: left;
	margin: 0 auto;
	clear: both;
	border-radius: 2px;
	box-shadow: 0 0 .5em rgba(0, 0, 0, 0.4);
}



/*---------------- Header ------------*/
header {
	height: 40px;
	width: 100%;
	background: rgba(290, 290, 290, 1);
	line-height: 40px;
	position: fixed;
	z-index: 1000;
	top: 0;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #777;
}

/* this is to push down the content behind the fixed header */
#header_placeholder {
	height: 40px;
	width: 100%;
}

.home-login {
	float: right;
	margin-right: 10px;
}

.app-header{
	float: right;
	width: 20%;
}

#logo{
	background: url('/php/img/logo.png') no-repeat;
	display: inline-block;
	background-position: 0 0;
	height: 40px;
	width: 125px;
	margin: 0;
	text-indent: -1000px;
	margin-left: 1%;
}




/*---------------- Landing --------------*/
#sign_up_form{
	background: rgba(290, 290, 290, 0.7);
	color: #333;
	width: 20%;
	padding: 25px;
	float: left;
	float: right;
	clear: both;
	border-radius: 2px;
	box-shadow: 0 0 .5em rgba(0, 0, 0, 0.4);
	margin-top: 8%;
	margin-right: 10%;
}


#sign_up_form label{
	display: inline-block;
	width: 150px;
}

#sign_up_form input{
	width: 200px;
}




/*---------------- Navigation --------------*/
#create_new_category{
	width: 100%;
	padding: 2px;
	margin: 0px auto 10px;
}


.note-nav {
	float: left;
	padding: 1%;
	left: 0px;
	position: fixed;
	max-width: 17%;
	height: 100%;
	float: left;
	background: rgba(290, 290, 290, 0.4);
	color: #222;
	z-index: 1001;
	overflow: scroll;
	font-family: helvetica, arial, sans-serif;
}

.note-nav ul{
	list-style-type: none;
	padding: 20px;
}


.nav-category-title, .nav-note-title{
	display: block;
	width: 100%;
	margin: 10px 0;
}

.nav-category-title{
	border-bottom: 1px solid #666;
}

.nav-category-title{
	color: black;
	margin-top: 40px;
	line-height: 30px;
}

.nav-note-title{
	font-weight: lighter;
	padding-left: 5%;
}

#new_category_btn, .add-note-btn{
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #d1d1d1 49%, #dbdbdb 50%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(49%,#d1d1d1), color-stop(50%,#dbdbdb), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%); /* W3C */
	display: inline-block;
	padding: 5px;
	border: none;
	border-radius: 2px;
	color: black;
	box-shadow: 0 0 .5em rgba(0, 0, 0, 0.4);
	text-decoration: none;
	font-size: 12px;
}

#search{
	width: 95%;
	margin: 0 auto;
	padding: 4px;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	box-shadow: inset 0 0 .5em rgba(0, 0, 0, 0.2);
}





/* ---------------- Note ---------------*/
.note, .update-note, .create-note {
	background: rgba(290, 290, 290, 0.7);
	color: #333;
	width: 88%;
	padding: 25px;
	float: left;
	margin-right: 1%;
	clear: both;
	border-radius: 2px;
	box-shadow: 0 0 .5em rgba(0, 0, 0, 0.4);
}

.note-category{
	float: right;
	display: block;
}

.update-note, .create-note{
	margin-left: 10%;
	width: 70%;
}

.note-item, .update-note-item, .create-note-item {
	margin: 30px 0;
	clear: both;
}

.note-body, .create-note-body, .update-note-body, .note-header, .create-note-header, .update-note-header{
	padding: 0 15px 15px;
}

.note-body, .create-note-body, .update-note-body{
	line-height: 1.5em;
	font-weight: lighter;
}

.note-header, .create-note-header, .update-note-header{
	border-bottom: 1px solid rgba(180, 180, 180, 0.8);
}

.note-list {
	margin: 0 auto;
	width: 75%;
}




/*------------- Note Controls ------------*/

.note-edit-btn, .note-delete-btn, .category-delete-btn, .note-save-btn{
	background: rgba(290, 290, 290, 0.8);
	display: block;
	padding: 5px;
	border-radius: 2px;
	color: black;
	box-shadow: 0 0 .5em rgba(0, 0, 0, 0.4);
	text-decoration: none;
}

.note-edit-btn, .note-delete-btn, .note-save-btn{
	width: 24px;
	height: 24px;
	text-indent: -100000%;
}

.add-note-btn, #new_category_btn {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.add-note-btn{
	margin-top: 40px;
	width: 100px;
}

#new_category_btn{
	width: 150px;
}

.note-edit-btn{
	background: rgba(290, 290, 290, 0.8) url('/php/img/pencil.png') no-repeat;
	background-position: 5px 5px ;
}

.note-delete-btn, .category-delete-btn{
	background: rgba(290, 290, 290, 0.8) url('/php/img/trash.png') no-repeat;
	background-position: 5px 5px;
}

.note-save-btn{
	background: rgba(290, 290, 290, 0.8) url('/php/img/check.png') no-repeat;
}

.note-controls{
	float: right;
	width: 2em;
}

.category-delete-btn{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-size: 15px 15px;
	background-position: 3px 3px;
	text-indent: -100000%;
	float: right;
}