.note-nav{
	float: left;
	padding: 1.5%;
	left: 0px;
	background: aqua;
	position: fixed;
	width: 20%;
	height: 100%;
	float: left;
}

.main{
	background: fuchsia;
	float: right;
	width: 75%;
	padding: 1.5%;
}

header{
	height: 40px;
}

.home-login{
	float: right;
}

.note-list{
	margin: 0 auto;
	width: 55em;
}
.note-item{
	margin-top: 15px;
}
.note{
	background: green;
	width: 50em;
	padding: 10px;
	float: left;
	margin-right: 1em;
	clear: both;
}

.add-note{
	width: 100px;
	display: block;
	margin: 0 auto 30px;
}